[submodule "minimal-vim-config"]
	path = minimal-vim-config
	url = git@github.com:Rwwwrl/minimal-vim-config.git
[submodule "minimal-nvim-config"]
	path = minimal-nvim-config
	url = git@github.com:Rwwwrl/minimal-nvim-config.git
